In [31]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [32]:
df = pd.read_csv('Delhi+Delights+Data.csv')

In [33]:
print(df.shape)
df.head()

(30, 3)

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
0,1.5,11,Yes
1,2.5,11,No
2,2.5,11,No
3,3.5,11,No
4,3.5,11,No

In [34]:
df.describe()

       Average Delivery Rating (a1)  Average Orders per month (a2)
count                     30.000000                      30.000000
mean                       3.066667                      21.000000
std                        1.040004                      10.763924
min                        1.500000                      11.000000
25%                        2.500000                      13.000000
50%                        3.000000                      15.000000
75%                        3.500000                      27.000000
max                        4.500000                      39.000000

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Average Delivery Rating (a1)   30 non-null     float64
 1   Average Orders per month (a2)  30 non-null     int64
 2   "Delighted Members" Purchase   30 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 848.0+ bytes

In [36]:
df['"Delighted Members" Purchase'] = df['"Delighted Members" Purchase'].map({'Yes':1, 'No':0})

In [37]:
df['"Delighted Members" Purchase'].value_counts()

"Delighted Members" Purchase
1    15
0    15
Name: count, dtype: int64

In [38]:
df.head()

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
0,1.5,11,1
1,2.5,11,0
2,2.5,11,0
3,3.5,11,0
4,3.5,11,0

In [39]:
# yes - 15
# no - 15

#Gini = 1 - .5^2-.5^2

In [40]:
(df['Average Delivery Rating (a1)'] < 3).value_counts()

Average Delivery Rating (a1)
True     15
False    15
Name: count, dtype: int64

In [49]:
(df[df['"Delighted Members" Purchase'] == 1]['Average Delivery Rating (a1)'] < 3).value_counts()

Average Delivery Rating (a1)
False    8
True     7
Name: count, dtype: int64

In [50]:
(df[df['"Delighted Members" Purchase'] == 0]['Average Delivery Rating (a1)'] < 3).value_counts()

Average Delivery Rating (a1)
True     8
False    7
Name: count, dtype: int64

In [42]:
#    30
#  15  |   15
#    1-.5^2-.5^2


#     15
#   8 | 7
#  1 - (8/15)^2 - (7/15)^2 =  (225-64-49)/225 = 112/225

#     15
#   7 | 8
# 1 - (8/15)^2 - (7/15)^2 =  (225-64-49)/225 = 112/225

#0.4977

In [51]:
(df[df['"Delighted Members" Purchase'] == 1]['Average Orders per month (a2)'] < 20).value_counts()

Average Orders per month (a2)
False    10
True      5
Name: count, dtype: int64

In [52]:
(df[df['"Delighted Members" Purchase'] == 0]['Average Delivery Rating (a1)'] >= 20).value_counts()

Average Delivery Rating (a1)
False    15
Name: count, dtype: int64

In [ ]:
#    30
#  15  |   15
#    1-.5^2-.5^2


#     15
#   10 | 5
#  1 - (10/15)^2 - (5/15)^2 =  (225-100-25)/225 = 100/225

#     15
#   7 | 8
# 1 - (8/15)^2  = 0 


## 10/225 * 15/30 + 0
#0.02

In [ ]:
# (1,5) (12,0)

# 1 - 1/6^2 - 5/6^2 = x = (36-1-25)/36 = 10/36 *1/3
# 0 = y

# x * 6/18